.company{
  display: flex;
  align-items: center;
  border-radius:6px;
  overflow: hidden;
}
.thumb{
  display: block;
  width: 100px;
  height: auto;
}
.image{
  margin-top: auto;
}


