.container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 10px;
}
.list{
  padding: 20px;
  background-color: #2a272788;
  border-radius: 6px;
  overflow: hidden;
  color: rgb(226, 221, 221);
}