.list{
  margin-bottom: 40px;
}
.item{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: baseline;
}

.item:not(:last-child){
  margin-bottom: 20px;
}
.paramName{
  color:rgb(226, 221, 221);
  font-size: 20px;  
}
.property{
  font-style: 16px;
  color: rgb(170, 167, 167);
}