.filmSection {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
}

.film {
  display: flex;
  gap: 30px;

  max-width: 1200px;

  margin: 0 auto;
  padding: 20px 10px;

  color:white;
}



