@import-normalize ;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
ul,ol{
  list-style: none;
}
body {
  margin: 0;
  background-color: #221f1f;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-button {
display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color:  red;
}



img {
  display: block;
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 a.active {
  color: red; 
}